<template>
    <span>
        <a href="#" v-if="isFavorited" @click.prevent="unFavorite(contact)">
            <i  class="fa fa-heart"></i>
        </a>
        <a href="#" v-else @click.prevent="favorite(contact)">
            <i  class="fa fa-heart-o"></i>
        </a>
    </span>
</template>

<script>
export default {
    props: ['contact', 'favorited'],

    data: function() {
        return {
            isFavorited: '',
        }
    },

    mounted() {
        this.isFavorited = this.isFavorite ? true : false;
    },

    computed: {
        isFavorite() {
            return this.favorited;
        },
    },

    methods: {
        favorite(contact) {
            axios.post('/favorite/'+contact)
                .then(response => this.isFavorited = true)
                .catch(response => console.log(response.data));
        },

        unFavorite(contact) {
            axios.post('/unfavorite/'+contact)
                .then(response => this.isFavorited = false)
                .catch(response => console.log(response.data));
        }
    }
}
</script>
